.page__work-wrapper {
  margin: 2em;

  .gallery-grid__lightbox {
    display: grid;
    grid-gap: 4rem;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 3fr));
    grid-template-rows: auto;

    .gallery-item {
      height: 100vh;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 520px) {
        height: auto;
      }

      .gallery-item--image.faded {
        opacity: 0.25;
        filter: blur(5px);
        transition: opacity 800ms ease-in, filter 1s ease-in-out;
        pointer-events: none;
      }

      .gallery-item--image {
        opacity: 1;
        transition: opacity 800ms ease-in;
        position: relative;
      }

      .lazy {
        opacity: 0;
      }

      .gallery-item--caption.hidden {
        opacity: 0;
        visibility: hidden;
      }

      .gallery-item--caption.pos-right {
        // adjust value later
        left: 100%;
        margin-left: 100px;
      }

      .gallery-item--caption.pos-left {
        // adjust value later
        right: 100%;
        margin-right: 100px;
      }

      .gallery-item--caption {
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transition: opacity 300ms ease-in-out;
        transition-delay: 500ms;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        z-index: 1000;
        font-size: 1.4rem;

        // Debuggin border
        border: 1px solid black;
      }
    }
  }

  .gallery-grid {
    display: grid;
    grid-gap: 4rem;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 3fr));
    grid-template-rows: auto;

    .gallery-item {
      height: 100vh;

      @media screen and (max-width: 520px) {
        height: auto;
      }

      .gallery-item--image {
        opacity: 1;
        transition: opacity 800ms ease-in;
        position: relative;
      }

      .lazy {
        opacity: 0;
      }
    }

    .gallery-item--caption {
      opacity: 1;
    }
    .invisible {
      opacity: 0;
    }
  }
}
